 /* .btn{
    height: 20px;
}
.btnbox{
margin: 20px;
    padding: 5px;
    border-radius: 40%;
    border: none;
    color: white;

} 
.btnbox:hover{
    background-color: #c2d6d6;
    color: white;
}
.btnbox:active{
    background-color: #e5a9f1;
    color: white;
}
.btnbox:visited{
    background-color: #5598c5;
    color: white;
}
.btnbox:link{
    background-color: #f4f8fa;
    color: white;
}
.header{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f8fa;
    padding: 10px;
    border-radius: 10px;
}
.searchbox{
  
    align-items: center;
    background-color: #f4f8fa;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 500px;
}

.searchbox:hover{
    background-color: #585c5c;
    color: white;
    border: none;
}
.serbtn{
    height: 30px;
    margin: 3px 0px 0px 5px;
    padding: 0px 0px 0px 0px;
    border: none;


}
.Formbtnbox{
    margin: 20px 0px 0px 5px;
    padding: 0px 0px 0px 0px;
    border: none;

}
.Formicon{
    height: 40px;
    margin: 3px 0px 0px 5px;
    padding: 0px 0px 0px 0px;
    border: none;   
}
.headersearchbox{
    display: flex;
    flex-direction: row;
}

.Searchbtnbox{
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 0px;
    border-radius: 40%;
    border-color: white;
    border: none;
    color: white;
    background-color: #f4f8fa;
}
.Searchbtnbox:hover{
    background-color: #c2d6d6;
    color: white;
}
.Searchbtnbox:active{
    background-color: #e5a9f1;
    color: white;
}
.Searchbtnbox:visited{
    background-color: #5598c5;
    color: white;
}
.Searchbtnbox:link{
    background-color: #f4f8fa;
    color: white;
} */

.header{
    position: sticky;
    margin: 0px 10px;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #000;
    height: 47px;
}
.header_info{
    display: flex;
    align-items: center;
}

.header_search{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #f4f4f9;
    width: 700px;
    height: 45px;
    border-radius: 5px;
    color: -internal-light-dark(rgb(0, 0, 0), white);
}
.header_right{
    display: flex;
    align-items: center;
}
.header_search>input{
    border: none;
    height: 40px;
    background-color: transparent;
    outline: none;
    width: 100%;
}
.info{
    color: rgb(82, 73, 73);
    font-size: 22px;
    padding-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}